.logo {
	max-width: 100%;
}

#navLogo {
	max-width: 125%;
	margin-left: -10PX;
	margin-top: -2px;
}

.navbar-brand {
	left: 20px;
}


#footer {
	height: 90px;
	background-color: #003530;

}


.myDiv {
	height: 10px;
}

.smLinks {
	margin-left: 12px;
	margin-right: 12px;
}

.smIcon {
		max-height: 100%;
}

.bg-dark {
	background-color: #00483A;
	padding: none;
}



.bg-primary {
	background-color: #4D8359;
}

.col-sm-6 {
	margin: auto;
/*	min-width: 600px;*/
	padding-bottom: px;
}

.btn-primary {
	background-color: #787A67;
}

a.bg-primary:focus,
a.bg-primary:hover {
	background-color: #9CBB99;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	border-color: #9CBB99;
	color: #fff;
	background-color: #004738;
}

#logoDiv {
	max-width: 900px;
	margin: auto;
}

.header-content-inner {
	align-content: center;
}

.header-content-inner > p{
	color: red;
}

.text-primary {
	color: 00483A;
}

#headerText {
	color: #FFF;
}

.col-lg-4 {
}

#iconDiv {
	height: 50px;
max-width: 231px;
}

#portfolio {
	background-color: #6E6C4F;
	position: relative;
    height: 67vw;
}


a:hover {
	color: #b9e6a4;
}

.footerDiv {
	margin: auto;
}

#jocce {
		width: 243px;
}

#jocceLink {
	color: #A7CBA3;
	:hover{
		color: fuchsia;
	}
}

.navbar-nav {
/*
	position: absolute;
	right: 15px;
*/
}

#copyright {
	width: 160px;
	color: #A7CBA3;
}

.portfolioBox {
    position: absolute;
	width: 50vw;
	height: 33.5vw;
    background-color: #324312;
    background-size: cover;
    overflow: hidden;
}

#box1 {
    right: 50%;
    bottom: px;
	background-image: url(../img/portfolio/TRc4.gif);
}

#box2 {
    left: 50%;
    top: 0;
	background-image: url(../img/portfolio/cb_gif.gif);

}

#box3 {
    right: 50%;
    top:33.5vw;
	background-image: url(../img/portfolio/cm_2.jpeg);
}

#box4 {
    left: 50%;
    top:33.5vw;
	background-image: url(../img/portfolio/tr_2.png);
}

.portfolio-box-caption {
	height: 100%;
	width: 100%;
}

/* The Modal (background) */
.sfpModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 55px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
	border-radius: 5px;
	overflow: hidden;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.closeX {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeX:hover,
.closeX:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalHeader {
    padding: 2px 16px;
    background-color: #004530;
    color: #A7CBA3;
}

.modalBody {padding: 2px 16px;}

.modalFooter {
    padding: 2px 16px;
    background-color: #003530;
    color: #A7CBA3;
}
