


.logo {
	max-width: 100%;
}

#navLogo {
	max-width: 125%;
	margin-left: -10PX;
	margin-top: 2px;
}

.navbar-brand {
	left: 20px;
}

.navbar-brand {
/*	left: 0px;*/
}



.container-fluid {

}



#footer {
	height: 90px;
	background-color: #003530;

}


.myDiv {
	height: 10px;
}

.smLinks {
	margin-left: 12px;
	margin-right: 12px;
}

.smIcon {
		max-height: 100%;
}

.bg-dark {
	background-color: #00483A;
	padding: none;
}



.bg-primary {
	background-color: #4D8359;
}

.col-sm-6 {
	margin: auto;
/*	min-width: 600px;*/
	padding-bottom: px;
}

.btn-primary {
	background-color: #787A67;
}

a.bg-primary:focus,
a.bg-primary:hover {
	background-color: #9CBB99;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	border-color: #9CBB99;
	color: #fff;
	background-color: #004738;
}

#logoDiv {
	max-width: 900px;
	margin: auto;
}

.header-content-inner {
	align-content: center;
}

.header-content-inner > p{
	color: red;
}

.text-primary {
	color: 00483A;
}

#headerText {
	color: #FFF;
}

.col-lg-4 {
}

#iconDiv {
	height: 50px;
max-width: 231px;
}

#portfolio {
	background-color: #6E6C4F;
	position: relative;
    height: 67vw;
}


a:hover {
	color: #b9e6a4;
}

.footerDiv {
	margin: auto;
}

#jocce {
		width: 243px;
}

#jocceLink {
	color: #A7CBA3;
	:hover{
		color: fuchsia;
	}
}

.navbar-nav {
/*
	position: absolute;
	right: 15px;
*/
}

#copyright {
	width: 160px;
	color: #A7CBA3;
}

.portfolioBox {
    position: absolute;
	width: 50vw;
	height: 33.5vw;
    background-color: #324312;
    background-size: cover;
    overflow: hidden;
}

#box1 {
    right: 50%;
    bottom: px;
	background-image: url(../img/portfolio/TRc4.gif);
}

#box2 {
    left: 50%;
    top: 0;
	background-image: url(../img/portfolio/cb_gif.gif);

}

#box3 {
    right: 50%;
    top:33.5vw;
	background-image: url(../img/portfolio/cm_2.jpeg);
}

#box4 {
    left: 50%;
    top:33.5vw;
	background-image: url(../img/portfolio/tr_2.png);
}

#caveblazers{
    width: 80%;
	position: relative;
    margin: auto;

    display: none;
    background-color: #c6c6c6;
    border-radius: 10px;
	border: 1px solid black;
}

#caveblazers:target{
    display: block;
}

.popUpClose {
    background-color: black;
    border-radius: 100px;
	width: =height;
    border: 2px solid white;
    text-align: center;
    font-family: sans-serif;
    color: white;
    position: absolute;
    right: -5px;
	top: -5px;
}

.portfolio-box-caption {
	height: 100%;
	width: 100%;
}

.portfolio-box {
}

.filler {
	height: 50px;
}

.popUpPlayer {
	top: 50px;
}

.sfpModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000;
	background-color: rgba(0,0,0,0.4);
}

.modalContent {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80;
}

.closeX {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.closeX:hover,
.closeX:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
}
