


.logo {
	max-width: 100%;
}

#navLogo {
	max-height: 80%;
}

.navbar-brand {
	left: 20px;
}

.navbar-brand {
	left: 20px;
}



.container-fluid {

}



#footer {
	height: 90px;
	background-color: #003530;

}


.myDiv {
	height: 10px;
}

.smLinks {
	margin-left: 12px;
	margin-right: 12px;
}

.smIcon {
		max-height: 100%;
}

.bg-dark {
	background-color: #00483A;
	padding: none;
}



.bg-primary {
	background-color: #4D8359;
}

.col-sm-6 {
	margin: auto;
/*	min-width: 600px;*/
	padding-bottom: px;
}

.btn-primary {
	background-color: #787A67;
}

a.bg-primary:focus,
a.bg-primary:hover {
	background-color: #9CBB99;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	border-color: #9CBB99;
	color: #fff;
	background-color: #004738;
}

#logoDiv {
	max-width: 900px;
	margin: auto;
}

.header-content-inner {
	align-content: center;
}

.header-content-inner > p{
	color: red;
}

.text-primary {
	color: 00483A;
}

#headerText {
	color: #FFF;
}

.col-lg-4 {
}

#iconDiv {
	height: 70px;
max-width: 291px;
}

#portfolio {
	background-color: #6E6C4F;
}


a:hover {
	color: #b9e6a4;
}

.footerDiv {
	margin: auto;
}

#jocce {
		width: 243px;
}

#jocceLink {
	color: #A7CBA3;
	:hover{
		color: fuchsia;
	}
}
